<div class="login">
  <div class="frame">
    <h2 class="text-center title">RUANG IDE</h2>
    <div class="ckdj">
      <%= form_for(@user, url: signup_path) do |f| %>
      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, class: "form-control", autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
      </div>
      <div class="form-group">
        <div class="col-md-6" style="padding-left: 0px;">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: "form-control" %>
        </div>
        <div class="col-md-6" style="padding-right: 0px;">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: "form-control" %>
        </div>
      </div>
      <div class="clear" style="clear: both;"></div>
      
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %> 
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
      <%= f.submit "Sign Up", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
