<!DOCTYPE html>
<html id="top_nav">
  <head>
    <title>Ruang Ide Event Organizer</title>
    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Great+Vibes|Montez|Over+the+Rainbow|Rancho|Roboto+Slab:300,400,700|Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>
  <body>
    <div class="navbar navbar-default top_nav">
      <div class="container-fluid nejg">
        <div class="navbar-header">
          <%= link_to "RUANG IDE", root_path, class: "navbar-brand" %>
        </div>
        <ul class="nav navbar-nav navbar-right ghkjh">
          <li class="dropdown">
            <%= image_tag "default/default_profile.png" %>
            <a class="jdfu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><%= current_user.username %></a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#" class="sdh">SETTING</a></li>
              <li><%= link_to "LOGOUT", signout_path, method: "delete", class: "sdh" %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="navbar navbar-default left_nav">
      <div class="ahg">
        <p class="dash_brd respond aktif"><i class="fa fa-tachometer" aria-hidden="true"></i><%= link_to "Dashboard", dashboard_path %></p>
        <p class="event__ respond"><i class="fa fa-suitcase" aria-hidden="true"></i><%= link_to "Event", all_event_url %></p>
        <p class="slider__ respond"><i class="fa fa-retweet" aria-hidden="true"></i><%= link_to "Slider", all_slider_url %></p>
        <p class="testimonial__ respond"><i class="fa fa-users" aria-hidden="true"></i><%= link_to "Testimonial", all_testimonial_url %></p>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
